body{
	background-color: #f4f9f4;
}

h1{
	font-family: Arial;
	color:#5c8d89;
}

p{
	font-family: Arial;
	color:black;
	font-size:18px;
}

img{
	border-radius: 10px;
	height:auto;
	width:50%;
	border: 1px solid #a7d7c5;
}